langchain
langchain-core
langchain-communit
langgraph
langchain-openai
pydantic
python-dotenv
pypdf
aiohttp
typing-extensions
openai
requests
beautifulsoup4
lxml
wikipedia
arxiv
biopython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
praw
serpapi
yfinance
xmltodict
google-search-results
stackapi
langchain-experimental